body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: white;
}    

.container {
    width: 1200px;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin: 0px;
    padding: 0px;
}

.index-body {
    background-color: white;
    background-image: url("../img/map.jpg");

    background-position: bottom center;
    background-repeat: no-repeat;  
}

a {
    text-decoration: none;
}

.visually-hidden {
    display: none;
}

.index-header {
    margin: 0px;
    padding: 0px;
    width: 1200px;
    min-height: 565px;
    background-color: white;
    background-image: url("../img/poligon.svg"), url("../img/intro-background.jpg");
    background-size: 1200px 57px, 1200px 800px;
    background-position: bottom center, top center;
    background-repeat: no-repeat, no-repeat;  
}

.main-navigation {
    line-height: 26px;
    color: #000000;
    background-color: white;
    margin: 0px;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #b2b2b2;
}

.site-navigation .site-navigation-active {
    color: #766357;
    pointer-events: none;
    cursor: default;
}

.main-navigation li {
    list-style: none;
}

.main-navigation a {
    color: black;
}

.description {
    font-size: 21px;
    line-height: 26px;
    background-color: white;
    color: black;
    text-align: center;

}

.main-text {
    line-height: 26px;
    font-weight: normal;
    background-color: white;
    color: black;
    text-align: center;
}

.advantages-main div{
    color: white;
    background-color: #81b3d2;
    text-align: center;
    font-weight: normal;
}

.advantages-main-header {
    font-size: 21px;
    line-height: 21px;
}

.advice-list {
    list-style: none;
    font-weight: normal;
    background-color: white;
    color: black;
}

.advice-item {
    text-align: center;
}

.advice-list h4 {
    font-size: 21px;
    line-height: 21px;
}

.advantages-secondary {
    background-color: #eeeeee;
    color: black;
    font-weight: normal;
}

.advantages-secondary-item{
    list-style: none;
    text-align: center;
}

.advantages-secondary-list h4 {
    font-size: 21px;
    line-height: 21px;
}

.search-form {
    text-align: center;
    background-color: white;
}

.search-form-data {
    width: 568px;
    min-height: 395px;
    display: block;
    margin: 0 auto;
    background-color: white;
    font-size: 14px;
    line-height: 26px;
    color: black;

}

.search-form-data [type="text"]  {
    font: inherit;
    border: none;
    background-color: #f2f2f2;
}

.search-form-data [type="text"]:hover {
    background-color: #ebebeb;
}

.search-form-data [type="text"]:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    outline: none;
}


.search-form-header {
    font-size: 30px;
    line-height: 36px;
    background-color: white;
    color: black;
}

.search-form p {
    font-size: 14px;
    line-height: 24px;
    background-color: white;
    color: black;
    font-weight: normal; 
}

.button-search {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    color: white;
    background-color: #766357;
    padding:  30px 0;
    width: 568px;
    border: none;
}

.button-search:hover {
    background-color: #604e43;
}

.button-search:active {
    background-color: #503e33;
    color: #857871;
}



.search-form-button {
    font-size: 21px;
    line-height: 26px;
    color: white;
    background-color: #81b3d2;
    width: 458px;
    padding:  16px 0;
    border: none;
}

.search-form-button:hover {
    background-color: #669ec0;
}

.search-form-button:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.main-footer {
    background-color: rgba(255, 255, 255, 0.8);
}

.footer-social li{
    list-style: none;
}

.filter {
    background-color: #81b3d2;
    background: 0px -280px url("../img/form-background.jpg") no-repeat;
    background-size: 100%;
    color: white;
    font-weight: normal; 
}

.filter-block {
    border: none;
}

.filter-section-header {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.filter-list {
    list-style: none;
}

.filter-cost [type="number"] {
    background: none;
    border: 2px solid #ffffff;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

.button-show {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    color: white;
    background: none;
    width: 133px;
    padding:  6px 0;
    border: 2px solid #ffffff;
    min-height: 32px;
}

.button-show:hover {
    color: black;
    background-color: white;
}

.sorting-count {
    font-size: 21px;
    line-height: 26px;
}

.sorting-items {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.sorting-items-list {
    list-style: none;
}

.sorting-items-header {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.sorting-item a {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #d1d1d1;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover {
    color: #81b3d2;
}

.sorting-item a:active {
    color: black;
    border: none;
}

a.sorting-item-active {
    color: #81b3d2;
    pointer-events: none;
    cursor: default;
    border: none;
}

.hotel-description-name a {
    font-size: 21px;
    line-height: 26px;
    color: black;
}


.hotel-description-name a:hover {
    color: #89b8d5;
}

.hotel-description-name a:active {
    color: #b2b2b2;
}

.hotel-description-texts {
    font-weight: normal;
}

.hotel-more-info {
    padding: 3px 20px;
    background-color: #81b3d2;
    color: white;
}

.hotel-more-info:hover {
    background-color: #669ec0;
}

.hotel-more-info:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.hotel-reservation {
    padding: 3px 20px;
    background-color: #766357;
    color: white;
}

.hotel-reservation:hover {
    background-color: #604e43;
}

.hotel-reservation:active {
    background-color: #503e33;
    color: #766860;
}

.hotel-rating p {
    background-color: #f2f2f2;
}

                                                                 /* ---Стили для сетки---*/


html,
body {
    min-width: 1200px;
    min-height: 1750;
}

.main-header-logo {

    position: absolute;
    left: 47%;
}

.main-header-logo img{
    object-fit: contain;
    object-position: top;
}

.main-header {
    margin: 0;
    padding: 0;
    width: 1200px;
}

.index-body .site-navigation {
    margin-bottom: 76px;
}

                                                                     /* ---  сетка Хэдэра  ---*/

.main-navigation {
    min-height: 56px;
    margin: 0px;
    padding: 0px;
}

.site-navigation li {
    margin: 0px;
    padding: 0px;
    width: 128px;
}

.site-navigation li:first-child {
    margin-right: 112px;

}

.site-navigation li:last-child {
    text-align: right;
    margin-right: 0;
}

.site-navigation li:nth-last-child(2) {
    text-align: right;
    margin-left: auto;
    margin-right: 112px;
}

.site-navigation {
    display: flex;
    align-items: center;
    width: 1056px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-left: 72px;
    padding-right: 72px;
}

.welcome-img {
    width: 459px;
    display: block;
    margin: 0 auto;
    margin-bottom: 21px;
}
.poligon {
    width: 1200px;
    display: block;
    padding: 0px;
    margin: 0 auto;
}

                                                                     /* ---  сетка Главный заголовок и текст  ---*/

.description {
    height: 80px;
    margin: 0px;
    margin-top: 30px;
}

.main-text {
    height: 60px;
}

                                                                     /* ---  сетка главные преимущества №1  ---*/


.advantages-main {
    display: flex;
    width: 1200px;
    min-height: 256px;
    margin: 0;
    padding: 0;
}


                                                                     /* ---  сетка Советы  ---*/

                                                       
.advice-list {
    display: flex;
    align-items: flex-end;
    width: 1200px;
    min-height: 330px;
    justify-content: space-around;
    margin: 0;
    padding: 0; 
}

.advice-list li{
    width: 300px; 
    min-height: 200px;
}

                                                                     /* ---  сетка Второстепенные преимущества  ---*/
                                                                                                                                            
.advantages-secondary-list {
    width: 1200px; 
    min-height: 256px;
    display: flex;
    margin: 0;
    padding: 0; 
    justify-content: space-around;
}

.advantages-secondary-list li{
    width: 300px; 
    min-height: 200px;
}

                                                                     /* ---  сетка  "Заинтересовались?" ---*/

 .search-form {
    min-height: 291px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; 
 }
 
.search-form-data {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

                                                                     /* ---  сетка  Футер ---*/

.main-footer {
    margin-top: 78px;
    width: 1200px;
    min-height: 120px;

}

.main-footer-wrapper {
    display: flex;
    justify-content: space-around;
}

.footer-hashtag {
    width: 240px;
}

.footer-social {
    width: 160px;
}

.footer-copyright {
    width: 240px;
}

                                                                     /* ---  сетка  Фильтр на внутренней ---*/

.filter {
    min-height: 217px;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    padding-right: 72px;
}

.filter-block {
    width: 240px;
    min-height: 160px;
}

.filter-infrastructure {
    margin-left: 72px;
    padding: 0px;
}

.filter-housing {
    margin: 0px;
    padding: 0px;
}

.filter-cost{
    width: 328px;
    margin: 0px;
    padding: 0px;

    margin-left: auto;
}

                                                                     /* ---  сетка  Инструменты сортировки на внутренней ---*/

.sorting {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    width: 1128px;
    min-height: 86px;
    padding-right: 72px;
}

.sorting-count {
    padding: 0px;
    margin: 0px;
    margin-left: 72px;
    margin-right: 50px;
}

.sorting-items {
    width: 480px;
    padding: 0px;
    margin: 0px;
    display: flex;
}

.sorting-item {
    margin-right: 34px;
}

.sorting-items-header {
    padding: 0px;
    margin: 0px;
}

.sorting-items-list {
    justify-content: space-around;
    width: 365px;
    padding: 0px;
    margin: 0px;
    display: flex;
    margin-left: 40px;
}

.sorting-up-down {
    padding: 0px;
    margin: 0px;
    margin-left: auto;
}

                                                                     /* ---  сетка  Блок отеля на внутренней ---*/


.hotel {
    display: flex;
    align-items: center;
    width: 1128px;
    min-height: 150px;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-right: 72px;
}

.hotel img {
    padding: 0px;
    margin: 0px;
    margin-left: 72px;
    margin-right: 30px;
}

.hotel-description {
    padding: 0px;
    margin: 0px;
    width: 270px;
    min-height: 92px;
}

.hotel-description-texts {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

.hotel-rating {
    padding: 0px;
    margin: 0px;
    margin-left: auto;
}

.search-form-data label {
    margin: 0px;
    padding: 0px;
}