body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: white;
}    

.container {
    width: 1200px
}

.content {
    background-color: white;
}

.index-body {
    background-color: white;
    background-image: url("../img/intro-background.jpg");
    background-size: 1200px 800px;
    background-position: top left;
    background-repeat: no-repeat;  
}

a {
    text-decoration: none;
}

.visually-hidden {
    visibility: hidden;
}

.main-navigation {
    line-height: 26px;
    color: #000000;
    background-color: white;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #b2b2b2;
}

.site-navigation .site-navigation-active {
    color: #766357;
    pointer-events: none;
    cursor: default;
}

.main-navigation li {
    list-style: none;
}

.main-navigation a {
    color: black;
}

.description {
    font-size: 21px;
    line-height: 26px;
    background-color: white;
    color: black;
}

.main-text {
    line-height: 26px;
    font-weight: normal;
    background-color: white;
    color: black;
}

.advantages-main div{
    width: 400px;
    height: 256px;
    color: white;
    background-color: #81b3d2;
    text-align: center;
    font-weight: normal;
}

.advantages-main-header {
    font-size: 21px;
    line-height: 21px;
}

.advice-list {
    list-style: none;
    font-weight: normal;
    background-color: white;
    color: black;
}

.advice-item {
    text-align: center;
}

.advice-list h4 {
    font-size: 21px;
    line-height: 21px;
}

.advantages-secondary {
    background-color: #eeeeee;
    color: black;
    font-weight: normal;
}

.advantages-secondary-item{
    list-style: none;
    text-align: center;
}

.advantages-secondary-list h4 {
    font-size: 21px;
    line-height: 21px;
}

.search-form {
    text-align: center;
    background-color: white;
}

.search-form-data {
    background-color: white;
    font-size: 14px;
    line-height: 26px;
    color: black;
}

.search-form-data [type="text"]  {
    font: inherit;
    border: none;
    background-color: #f2f2f2;
}

.search-form-data [type="text"]:hover {
    background-color: #ebebeb;
}

.search-form-data [type="text"]:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    outline: none;
}


.search-form-header {
    font-size: 30px;
    line-height: 36px;
    background-color: white;
    color: black;
}

.search-form p {
    font-size: 14px;
    line-height: 24px;
    background-color: white;
    color: black;
    font-weight: normal; 
}

.button-search {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    color: white;
    background-color: #766357;
    padding:  30px 0;
    width: 568px;
    border: none;
}

.button-search:hover {
    background-color: #604e43;
}

.button-search:active {
    background-color: #503e33;
    color: #857871;
}



.search-form-button {
    font-size: 21px;
    line-height: 26px;
    color: white;
    background-color: #81b3d2;
    width: 458px;
    padding:  16px 0;
    border: none;
}

.search-form-button:hover {
    background-color: #669ec0;
}

.search-form-button:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.footer-social li{
    list-style: none;
}

.filter {
    background-color: #81b3d2;
    background: 0px -500px url("../img/form-background.jpg") no-repeat;
    background-size: 100%;
    color: white;
    font-weight: normal; 
}

.filter-section-header {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.filter-list {
    list-style: none;
}

.filter-cost [type="number"] {
    background: none;
    border: 2px solid #ffffff;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

.button-show {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    color: white;
    background: none;
    width: 133px;
    padding:  6px 0;
    border: 2px solid #ffffff;
}

.button-show:hover {
    color: black;
    background-color: white;
}

.sorting-count {
    font-size: 21px;
    line-height: 26px;
}

.sorting-items {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.sorting-items-list {
    list-style: none;
}

.sorting-items-header {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.sorting-item a {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #d1d1d1;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover {
    color: #81b3d2;
}

.sorting-item a:active {
    color: black;
    border: none;
}

a.sorting-item-active {
    color: #81b3d2;
    pointer-events: none;
    cursor: default;
    border: none;
}

.hotel-description-name a {
    font-size: 21px;
    line-height: 26px;
    color: black;
}


.hotel-description-name a:hover {
    color: #89b8d5;
}

.hotel-description-name a:active {
    color: #b2b2b2;
}

.hotel-description-texts {
    font-weight: normal;
}

.hotel-more-info {
    padding: 3px 20px;
    background-color: #81b3d2;
    color: white;
}

.hotel-more-info:hover {
    background-color: #669ec0;
}

.hotel-more-info:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.hotel-reservation {
    padding: 3px 20px;
    background-color: #766357;
    color: white;
}

.hotel-reservation:hover {
    background-color: #604e43;
}

.hotel-reservation:active {
    background-color: #503e33;
    color: #766860;
}

/* ---Стили для сетки---*/

html,
body {
    min-width: 1200px;
    min-height: 1750;
}

.main-header-logo {
    position: absolute;
    left: 530px;
}

.main-header {
    margin: 0;
    padding: 0;
    margin-bottom: 76px;
}

.site-navigation {
    display: flex;
    width: 1200px;
    min-height: 56;
    margin: 0;
    padding: 0;


/*---- Пока очень примерно влинию ----*/

    justify-content: space-around;
}

.welcome-img {
    width: 459px;
    display: block;
    margin: 0 auto;
    margin-bottom: 21px;
}
.poligon {
    width: 1200px;
    display: block;
    margin: 0 auto;
}